h1{
	text-align: center;
	letter-spacing: 3px;
	color: white;
}
.image {                     
	width: 30%;
	padding: 5px;
	height: auto;
}
input[type="file"] {
	color: white;
	background: black; 
	border-radius: 2%;
	padding: 5px;
	margin: 2px;
}
.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
h3{
	text-align: left;
	letter-spacing: 3px;
	color: white;
}
.styleGrey{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	width: 30%;
	padding: 5px;
	height: auto;
}
.reset{
    -webkit-filter: initial(100%);
    filter: initial(100%);
	width: 30%;
	padding: 5px;
	height: auto;
}