body {
	background: url("Photos/background.jpg");
	color: white;
	text-align: center;
}
h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
	margin: 15px;
}
p {
	font-size: 20px;
}
.editor {
	width: 95%;
	height:auto;
}
.tools {
	float: left;
	width: 30%;
	text-align: left;
}